<template>
  <div style="margin-top: 8%; width: 500px; margin-left: 37%">
    <a-form
      :model="formState"
      :label-col="{ span: 8 }"
      :wrapper-col="{ span: 16 }"
      @finish="onFinish"
      @finishFailed="onFinishFailed"
      style="display: flex"
    >
      <a-form-item
        label="输入IP"
        name="generateQuantity"
        style="flex-basis: auto"
        :rules="[{ required: true, message: 'IP必填！' }]"
      >
        <a-input v-model:value="formState.generateQuantity" />
      </a-form-item>

      <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
        <a-button type="primary" html-type="submit">获取</a-button>
      </a-form-item>
    </a-form>
    <div>
      <a-card
        style="width: 365px; text-align: justify; background-color: #fafafa"
      >
        <p>IP：{{ formState.jsonData.query }}</p>
        <p>来自：{{ formState.jsonData.country }}</p>
        <p>城市：{{ formState.jsonData.city }}</p>
        <p>经度：{{ formState.jsonData.lat }}</p>
        <p>纬度：{{ formState.jsonData.lon }}</p>
        <p>时区：{{ formState.jsonData.timezone }}</p>
        <p>服务商：{{ formState.jsonData.isp }}</p>
      </a-card>
    </div>
  </div>
</template>
  <script lang="ts" setup>
import { reactive } from "vue";
import { message } from "ant-design-vue";

interface FormState {
  generateQuantity: string;
  jsonData: string;
}

const formState = reactive<FormState>({
  generateQuantity: "",
  jsonData: "",
});
const getIp = () => {
  fetch(
    "https://vercel.zaojingyoutu.top/api/ip-info/" + formState.generateQuantity
  )
    .then((response) => response.json())
    .then((data) => {
      if (data.status == "fail") {
        message.error({
          content: "请输入正确的IP地址！",
          duration: 2,
        });
      }
      formState.jsonData = data;
    });
};

fetch("https://api64.ipify.org/?format=json")
  .then((response) => response.json())
  .then((data) => {
    console.log(data);
    formState.generateQuantity = data.ip;
    getIp();
  });

const onFinish = () => {
  formState.jsonData = "";
  getIp();
};

const onFinishFailed = (errorInfo: any) => {
  console.log("Failed:", errorInfo);
};
</script>
  
  